.sign-up {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: 15vh 15.25vw 0;

  &__content {
    width: 100%;
    max-width: 420px;
  }

  &__help {
    margin: 20px 0 0;
    font-size: 18px;

    &-link {
      color: var(--color-red);
      text-decoration: none;
      font-weight: 500;
    }
  }
}
