.input {
  color: var(--color-black);
  position: relative;
  $this: &;

  &--small {
    #{$this} {
      &__label {
        font-size: 14px;
      }

      &__field {
        height: 30px;
        border-radius: 10px;
        font-size: 14px;
      }

      &__error {
        font-size: 14px;
      }
    }
  }

  &--red {
    color: var(--color-white);

    #{$this} {
      &__field {
        background-color: var(--color-red);
        color: var(--color-white);

        &::placeholder {
          color: var(--color-white);
        }

        &:focus + .input__label,
        &:not(:placeholder-shown) + .input__label {
          color: var(--color-black);
        }
      }
    }
  }

  &--error {
    #{$this} {
      &__error {
        transform: translate(100%, -50%);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__wrap {
    position: relative;
  }

  &__label {
    font-weight: 300;
    font-size: 20px;

    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    transition: all 0.25s;

    pointer-events: none;
  }

  &__field {
    box-shadow: inset var(--shadow);
    border-radius: var(--border-radius);
    background: var(--color-white);
    border: none;

    height: 60px;
    width: 100%;

    padding: 0 15px;

    font-size: 20px;

    &::placeholder {
      color: var(--color-black);
    }

    &:focus + .input__label,
    &:not(:placeholder-shown) + .input__label {
      top: -5px;
      left: 5px;
      transform: translateY(-100%);
    }
  }

  &__error {
    padding-left: 30px;
    padding-bottom: 5px;

    position: absolute;
    right: -15px;
    top: 50%;
    z-index: 2;

    height: 77px;
    width: 340px;

    font-size: 18px;
    line-height: 1.2;
    color: var(--color-white);

    background-image: url(../../../assets/images/tooltip.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;

    display: flex;
    align-items: center;

    transform: translate(97%, -50%);
    opacity: 0;
    visibility: hidden;

    transition: all 0.25s;
  }
}
