.header-search {
  position: relative;

  &__input {
    width: 200px;
  }

  &__field {
    padding: 0 25px 0 10px;
  }

  &__button {
    position: absolute;
    right: 5px;
    top: 50%;

    transform: translateY(-50%);

    padding: 5px;

    cursor: pointer;

    border: none;
    background: none;
  }
}
