.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__img {
    margin-right: 15px;
  }

  &__text {
    color: var(--color-black);
    font-size: 22px;
    font-weight: bold;

    white-space: nowrap;

    transition: color 0.2s;

    &:hover {
      color: var(--color-red);
    }
  }
}
