@import './variables.scss';
@import './mixin.scss';
@import './fonts.scss';

body {
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-beige);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'],
a,
button,
input,
textarea,
.focus-outline {
  &:focus-visible,
  &:focus-within {
    @include outline;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 134px;

  &--no-padding {
    padding-top: 0;
  }
}

.container {
  padding: 0 4vw;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.hidden-visible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
